/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
.navigation_list {
    display: flex;
    flex-direction: column;
    top: -45%;
}


@media (min-width: 1281px) {
  .navigation_list {
    left:10vw;
    bottom: 16vh
  }
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1440px) {
    .background-img {
        width: 40%;
    }
    .navigation_list {
      left:10vw;
      bottom: 20vh
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .background-img {
        width: 30%;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
    .background-img {
        width: 45%;
    }
    .header-main {
        font-size: 75px;
    }
    .third-page{
        clip-path: ellipse(60% 100% at 51% 100%)
    }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
    .background-img {
        width: 65%;

    }
    .header-main {
        font-size: 75px;
    }
    .navigation_list {
      left: 40vw;
    }
}